@import './../../../assets/_varibles';

.login {
  font-size: 13px;

  a {
    color: $color-blue;
    text-decoration: none;

    &:hover {
      color: $color-grey;
    }
  }
  form {

    .layout-input {
      margin: 5px 0 10px 0;
    }

    button {
      margin: 10px 0 10px 0;
    }
  }

  .reset-password {
    margin: 15px 0 15px 0;
    font-size: 11px;
  }

  .register {
        margin: 17px 0 0 0;
  }
}