<maply-layout>
  <div class="row login">
    <div class="col-md-12">
      <div class="layout-title">
        <h2>SIGN IN</h2>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="col-md-12">
        <md-input-container class="layout-input">
          <input mdInput type="email" placeholder="Email" [formControl]="form.controls['email']" required="required" />
          <md-error *ngIf="form.controls['email'].hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="form.controls['email'].hasError('pattern')">
            Please enter a valid email address
          </md-error>
        </md-input-container>
      </div>
      <div class="col-md-12">
        <md-input-container class="layout-input">
          <input mdInput type="password" Length="100" placeholder="Password" [formControl]="form.controls['password']" required="required" />
          <md-error *ngIf="form.controls['password'].hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="form.controls['password'].hasError('minlength')">
            Password must be 6 digits.
          </md-error>
        </md-input-container>
      </div>
      <div class="col-md-12">
        <button md-raised-button color="primary">Sign In</button>
      </div>
    </form>
    <div class="col-md-12 reset-password">
      Forgot your Password? <a href="" alt="Rest Password" title="Reset Password" [routerLink]="['/reset-password']">Reset Password</a>
    </div>
    <div class="col-md-12">
      <span class="line"></span>
    </div>
    <div class="col-md-12 register">
      Don't have an account? <a href="" [routerLink]="['/register']" alt="Start your free trial here" title="Start your free trial here">Start your free trial here</a>
    </div>
  </div>
</maply-layout>