<div class="register">
  <div class="maply-light">
    <div class="container">
    
      <div class="row">
        <div class="col-md-6 left-side">

          <div class="left-side-content">
            <div class="row">
              <div class="col-md-12">
                <div class="logo">
                  <img height="35" [src]="'assets/images/logo_maply_black.svg'" />
                </div>
                <h2>
                  Start your free trial account today.
                </h2>
              </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="register()">
              <div class="row">
                <div class="col-md-6">
                  <md-input-container class="layout-input">
                    <input mdInput type="text" placeholder="First Name" [formControl]="form.controls['name']" required="required" />
                    <md-error *ngIf="form.controls['name'].hasError('required')">
                      This field is required
                    </md-error>
                  </md-input-container>
                </div>
                <div class="col-md-6">
                  <md-input-container class="layout-input">
                    <input mdInput type="text" placeholder="Last Name" [formControl]="form.controls['lastName']" required="required" />
                    <md-error *ngIf="form.controls['lastName'].hasError('required')">
                      This field is required
                    </md-error>
                  </md-input-container>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <md-input-container class="layout-input">
                    <input mdInput type="email" placeholder="Email" [formControl]="form.controls['email']" required="required" />
                    <md-error *ngIf="form.controls['email'].hasError('required')">
                      This field is required
                    </md-error>
                    <md-error *ngIf="form.controls['email'].hasError('pattern')">
                      Please enter a valid email address
                    </md-error>
                  </md-input-container>
                </div>
                <div class="col-md-12">
                  <md-input-container class="layout-input">
                    <input mdInput type="password" placeholder="Password" [formControl]="form.controls['password']" required="required" />
                    <md-error *ngIf="form.controls['password'].hasError('required')">
                      This field is required
                    </md-error>
                    <md-error *ngIf="form.controls['password'].hasError('minlength')">
                      Password must be 6 digits.
                    </md-error>
                  </md-input-container>
                </div>
                <div class="col-md-12">
                  <md-input-container class="layout-input">
                    <input mdInput type="password" placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" required="required" />
                    <md-error *ngIf="form.controls['confirmPassword'].hasError('required')">
                      This field is required
                    </md-error>
                    <md-error *ngIf="form.controls['confirmPassword'].hasError('minlength')">
                      Password must be 6 digits.
                    </md-error>
                    <md-error *ngIf="form.hasError('mismatchedPasswords')">
                      Password dont match.
                    </md-error>
                  </md-input-container>
                </div>
                <div class="col-md-12">
                  <md-select class="layout-input select" placeholder="Industry" [formControl]="form.controls['industry']" name="industry" required="required">
                    <md-option [value]="1">Construction</md-option>
                    <md-option [value]="2">Commercial Drone Operator</md-option>
                    <md-option [value]="3">Mining</md-option>
                    <md-option [value]="4">Agriculture</md-option>
                    <md-option [value]="5">Enviroment</md-option>
                    <md-option [value]="6">Surveyors and Consultant</md-option>
                    <md-option [value]="7">Insurance</md-option>
                    <md-option [value]="8">Utilities or Telecom</md-option>
                    <md-option [value]="9">Drone Entusiast</md-option>
                    <md-option [value]="10">Other</md-option>
                  </md-select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="privacy">
                    By creating an account, you agree to our <a href="">Terms and Agreement</a> and <a href="">Privace Plicy</a>.
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <button type="submit" md-raised-button color="primary">
                    Create account<md-icon class="material-icons">navigate_next</md-icon>
                  </button>
                </div>
                <div class="col-md-6">
                  <a class="have-account" href="" [routerLink]="['/login']">Have an account?</a>
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="right-side">
            <div class="row">
              <div class="col-md-12">
                <h3>
                  Trusted by
                </h3>
              </div>

              <div class="col-md-12 logos">
                <img height="35" [src]="'assets/images/500.svg'" />
                <img height="35" [src]="'assets/images/6.svg'" />
                <img height="35" [src]="'assets/images/aerospike.svg'" />
                <img height="35" [src]="'assets/images/drone.svg'" />
                <img height="13" [src]="'assets/images/drubbbler.svg'" />
              </div>

               <div class="col-md-12 logos">
                <img height="35" [src]="'assets/images/500.svg'" />
                <img height="35" [src]="'assets/images/6.svg'" />
                <img height="35" [src]="'assets/images/aerospike.svg'" />
                <img height="35" [src]="'assets/images/drone.svg'" />
                <img height="13" [src]="'assets/images/drubbbler.svg'" />
              </div>

              <div class="col-md-12 right-text">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labor. Excepteur sint occaecat cupidatat non proident."
              </div>
              <div class="col-md-12">
                <div class="jeff">
                  <img height="35" [src]="'assets/images/jeff.png'" />
                  <div class="right-jeff">
                    <strong>Jeff Wether</strong>
                    <span>Landscape and Co</span>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>