/deep/ .mat-option {
  font-size: 12px !important; 
}

.register {
  margin: auto;
  display: table;
  position: absolute;
  width: 100%;
  background-color: #F5F5F5;
  height:100vh;

  .maply-light {
    display: table-cell;
    vertical-align: middle;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  .left-side {

    @media (min-width: '992px'){
      text-align: right;
    }

    h2 {
      font-size: 14px;
      font-weight: 400;
      margin: 28px 0 0 0;
      letter-spacing: 1px;
    }

    .left-side-content {
      
      width: 100%;

      @media (min-width: '992px'){
        width: 350px;
        margin: 0 60px 0 0px;
      }

      display: inline-block;
      text-align: left;

      .logo {
        margin: 20px 0 0 0;
      }

      form {
        
        margin: 10px 0 0 0;

        .layout-input {
          width: 100%;
          margin: 10px 0 0 0;

          &.select {
            margin-top:20px;
            
            /deep/ .mat-select-trigger {
              font-size: 14px;
            }
          }
        }

        button {
          font-weight: 300;
          letter-spacing: 1px;
          height: 50px;
          width: 172px;
        }

        .have-account {
          color: #616161;
          font-weight: 300;
          margin: 15px 0 0 0;
          display: inline-block;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .privacy {
        color: #616161;
        font-size: 14px;
        font-weight: 300;
        margin: 35px 0 15px 0;
        line-height: 16px;

        a {
          color: #616161;
          text-decoration: underline;
        }
      }
    }
  }

  .right-side {
    
    margin-top: 70px;
    text-align: center;

    @media (min-width: '992px'){
      padding-top: 50px;
      padding-left: 70px;
      border-left: 1px solid rgba(0, 0, 0, 0.38);
      width: 430px;
      height: 489px;
    }

    h3 {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 400;
    }

    .logos {
      margin: 35px 0 0 0;
      img {
        margin: 0 8px;
      }
    }

    .right-text {
      margin: 45px 0 20px 0;
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 13px;
    }

    .jeff {
      width: 200px;
      display: inline-block;

      img {
        float: left;
      }
      
      .right-jeff {
        float: left;
        text-align: left;
        margin-left: 15px;

        strong {
          font-size: 12px;
          font-weight: 500;
        }

        span {
          font-size: 11px;
          font-weight: 300;
          display: block;
          letter-spacing: 1px;
        }
      }

    }
  }
}