<div class="layout">
  <div class="layout-container">
    <md-card class="layout-content">
      <md-card-content>
        <div class="row">
          <div class="col-md-12">
            <div class="logo">
              <img height="40" [src]="'assets/images/logo_maply.svg'" />
            </div>
          </div>
          <div class="col-md-12">
            <span class="line"></span>
          </div>
        </div>
        <ng-content></ng-content>
      </md-card-content>
    </md-card>
  </div>
</div>