@import './../../../assets/_varibles';

.layout {
  margin: auto;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  background-image: url('~/assets/images/background.jpg');
  background-size: cover;
  left: 0px;

  .layout-container {
    display: table-cell;
    vertical-align: middle;
  }

  .layout-content {
    min-height: 504px;  
    width: 432px; 
    border-radius: 3px; 
    background-color: $color-black;
    display: inline-block;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

    .logo {
      margin: 50px 0 5px 0;
    }

    /deep/ .line {
      display: inline-block;
      box-sizing: border-box; 
      height: 2px;  
      width: 320px; 
      border: 0.5px solid $color-line;
      opacity: 0.3;
    }

    /deep/ .layout-title {
      width: 350px; 
      display: inline-block;
      margin: 12px 0 0 0;

      h2 {
        font-weight: 100;
        font-size: 12px;
        letter-spacing: 2px;
        display: block;
        text-align: left;
        color: #FFFFFF;
        text-transform: uppercase;
      }
      p {
        text-align: left;
        line-height: 18px;
        margin: 20px 0 0 0;
      }
    }
  }

  /deep/ form {

    /deep/ .mat-input-placeholder {
      color: $color-grey;
    }

    /deep/ .mat-focused .mat-input-placeholder {
      color: $color-blue;
    }

    /deep/ .mat-input-underline {
      background-color: $color-grey;
    }

    /deep/ .mat-input-invalid .mat-input-placeholder {
      color: $color-red;
    }

    .layout-input {
      width: 350px;
    }

    input {
      color: $color-grey;
      letter-spacing: 1px;
    }

    button {
      height: 50px;
      width: 350px;
      border-radius: 3px;
      letter-spacing: 1px;
      font-weight: 100;
      font-size: 16px;
      
    }
  }
}