@import '~@angular/material/_theming';

@include mat-core();
$app-primary: mat-palette($mat-blue, A200);
$app-accent: mat-palette($mat-blue, 700);
$app-warn: mat-palette($mat-red, 400);
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

$light-theme:   mat-light-theme($app-primary, $app-accent, $app-warn);

.maply-light {
  @include angular-material-theme($light-theme);
}