@import './../../../../assets/_varibles';

.reset {
  font-size: 13px;

  .email {
    color: $color-grey;
    letter-spacing: 1px;
    text-align: left;
    font-size: 14px;
    margin: 25px 0 0 0;
  }

  a {
    color: $color-blue;
    text-decoration: none;

    &:hover {
      color: $color-grey;
    }
  }
  form {

    .layout-input {
      margin: 15px 0 10px 0;
    }

    button {
      margin: 20px 0 10px 0;
    }
  }

  .link {
    margin: 15px 0 15px 0;
    font-size: 11px;
  }
}