<maply-layout>
  <div class="row reset">
    <div class="col-md-12">
      <div class="layout-title">
        <h2>ENTER your new passsword</h2>
        <div class="email">alexandre@maply.io</div>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="reset()">
      <div class="col-md-12">
        <md-input-container class="layout-input">
          <input mdInput type="password" placeholder="Password" [formControl]="form.controls['password']" required="required" />
          <md-error *ngIf="form.controls['password'].hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="form.controls['password'].hasError('minlength')">
            Password must be 6 digits.
          </md-error>
        </md-input-container>
      </div>
      <div class="col-md-12">
        <md-input-container class="layout-input">
          <input mdInput type="password" placeholder="Confirm Password" [formControl]="form.controls['confirmPassword']" required="required" />
          <md-error *ngIf="form.controls['confirmPassword'].hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="form.controls['confirmPassword'].hasError('minlength')">
            Password must be 6 digits.
          </md-error>
          <md-error *ngIf="form.hasError('mismatchedPasswords')">
            Password dont match.
          </md-error>
        </md-input-container>
      </div>
      <div class="col-md-12">
        <button md-raised-button color="primary">Change Password</button>
      </div>
    </form>
    <div class="col-md-12 link">
      Did you remember the password? <a [routerLink]="['/login']" href="" alt="Sign In" title="Sign In">Sign In</a>
    </div>
  </div>
</maply-layout>