/* You can add global styles to this file, and also import other style files */
@import '/assets/theme';
@import '/assets/_varibles';

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
