<maply-layout>
  <div class="row reset">
    <div class="col-md-12">
      <div class="layout-title">
        <h2>Reset your Password</h2>
        <p>
          Enter your email address and we will send you a link to reset your password.
        </p>
      </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div class="col-md-12">
        <md-input-container class="layout-input">
          <input mdInput type="email" placeholder="Email" [formControl]="form.controls['email']" required="required" />
          <md-error *ngIf="form.controls['email'].hasError('required')">
            This field is required
          </md-error>
          <md-error *ngIf="form.controls['email'].hasError('pattern')">
            Please enter a valid email address
          </md-error>
        </md-input-container>
      </div>
      <div class="col-md-12">
        <button md-raised-button color="primary">Send Reset Instructions </button>
      </div>
    </form>
    <div class="col-md-12 link">
      Did you remember the password? <a [routerLink]="['/login']" href="" alt="Sign In" title="Sign In">Sign In</a>
    </div>
  </div>
</maply-layout>