@import './../../../../assets/_varibles';

.reset {
  font-size: 13px;

  a {
    color: $color-blue;
    text-decoration: none;

    &:hover {
      color: $color-grey;
    }
  }
  form {

    .layout-input {
      margin: 30px 0 10px 0;
    }

    button {
      margin: 30px 0 10px 0;
    }
  }

  .link {
    margin: 15px 0 15px 0;
    font-size: 11px;
  }
}